<p>コメント全<%= post.comments.count %>件</p>
<% post.comments.each do |comment| %>
  <%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, fallback: "icon_gray.png", size: "50x50" %>
  <%= comment.user.name %>
  <%= comment.comment %>
  <%= comment.created_at.strftime('%Y/%m/%d') %>
  <% if comment.user == current_user %>
    <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "コメントを消しますか？" %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= form_with(model:[post, comment], local: true) do |f| %>
    <%= f.text_area :comment, placeholder: "コメント" %>
    <%= f.submit "コメント" %>
  <% end %>
<% else %>
  <p><%= link_to "ログイン", new_user_session_path %>するとコメントできます</p>
<% end %>