<div class="col-lg-3 my-4">
  <!--ユーザ情報-->
    <table class="table user-table">
      <tr>
        <td align="center"><%= attachment_image_tag user, :profile_image, :fill,100,100, fallback: "icon_gray.png", size: "100x100" %></td>
      </tr>
      <tr>
        <td align="center"><%= link_to user.name, user_path(user), class: "link" %></td>
      </tr>
      <% unless user.profile.blank? %>
        <tr>
          <td><%= user.profile %></td>
        </tr>
      <% end %>
      <% if (user_signed_in?) && (user.id == current_user.id) %>
        <tr>
          <td align="center">
            <%= link_to "プロフィール編集", edit_user_path(user), class: "fas fa-edit link" %>
          </td>
        </tr>
        <tr>
          <td align="center">
            <% if unchecked_notifications.any? %>
              <div class="text-danger"><i class="far fa-bell"></i><%= link_to "通知あり", notifications_path, class: "link", style: "color: red;" %></div>
            <% else %>
              <div><i class="far fa-bell"></i><%= link_to "通知", notifications_path, class: "link" %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <% if (user_signed_in?) && (current_user.admin?) && (user.id == current_user.id) %>
      <table class="table user-table mt-5">
        <tr align="center"><th>管理者専用</th></tr>
        <tr align="center"><td><%= link_to "全登録ユーザ", users_path, class: "fas fa-users btn btn-outline-info" %></td></tr>
        <tr align="center"><td><%= link_to "新規タグ追加", new_tag_path, class: "fas fa-tags btn btn-outline-info" %></td></tr>
        <tr align="center"><td><%= link_to "新規カテゴリ追加", new_category_path, class: "fas fa-copy btn btn-outline-info" %></td></tr>
      </table>
    <% end %>
  </div>