<div class="offset-lg-1">
  <% if (user_signed_in?) && (@user.id == current_user.id) %>
    <h2>マイページ</h2>
  <% else %>
    <h2><%= @user.name %>さんのページ</h2>
  <% end %>
</div>

<div class="row">
  <%= render 'users/user', user: @user %>

  <div class="col-lg-6">
    <!--管理者のみアクセス可-->
    <% if (user_signed_in?) && (current_user.admin?) %>
      <div class="row mb-4">
        <div class="col-4"><%= link_to "全登録ユーザ", users_path, class: "btn btn-info" %></div>
        <div class="col-4"><%= link_to "新規タグ追加", new_tag_path, class: "btn btn-info" %></div>
        <div class="col-4"><%= link_to "新規カテゴリ追加", new_category_path, class: "btn btn-info" %></div>
      </div>
    <% end %>

    <!--自分のレビュー一覧-->
    <div class="text-center">
      <% if (user_signed_in?) && (@user.id == current_user.id) %>
        <h4>マイレビュー</h4>
      <% else %>
        <h4><%= @user.name %>さんのレビュー</h4>
      <% end %>
    </div>

    <div class="row" style="justify-content: center;">
      <% if @posts.empty? %>
        <p>まだレビューの投稿がありません</p>
      <% else %>
        <% @posts.each do |post| %>
          <%= render 'posts/post', post: post %>
        <% end %>
      <% end %>
      <div class="offset-1 col-10"><%= paginate @posts %></div>
    </div>
  </div>
</div>
