<h2>マイページ</h2>

<%= attachment_image_tag @user, :profile_image, :fill,100,100, fallback: "icon_gray.png", size: "110x100" %>

<table>
  <tr>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td><%= @user.profile %></td>
  </tr>
  <tr>
    <td><%= link_to "編集", edit_user_path(@user) %></td>
  </tr>
</table>

<%= link_to "退会する", confirm_path %>

<!--投稿一覧-->

<!--お気に入り一覧リンク-->

<!--コメントした投稿一覧リンク-->
