<div id="box">
  <div class="text-center top-text">
    <h2><strong>「AJIHEN」は調味料に焦点を当てた情報共有のためのレビューサイトです</strong></h2>
    <div><strong>詳しく</strong>は<%= link_to "こちら", about_path %></div>
  </div>
  <div class="top-back"></div>
  <div id="images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
  </div>
</div>

<%= render 'searches/form' %>

<div class="row">
  <div class="offset-lg-1 col-lg-7">
    <h4>新着レビュー</h4>
    <div class="row">
      <% @posts.each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
    </div>
    <div><%= link_to "全ての投稿を見る＞", posts_path, class: "link" %></div>
  </div>

  <div class="col-lg-3">
    <div>
      <h4>カテゴリ一覧</h4>
      <% @categories.each do |category| %>
        <%= link_to category.name, category_search_path(category_id: category.id), class: "link" %> |
      <% end %>
    </div>
    <div class="mt-5">
      <h4>タグ一覧</h4>
      <% @tags.each do |tag| %>
        <%= link_to tag.name, tag_search_path(tag_id: tag.id), class: "link" %> |
      <% end %>
    </div>
  </div>
</div>