<h3>「AJIHEN」は主に調味料に関する情報共有のためのレビューサイトです</h3>
<p>詳しくは<%= link_to "こちら", about_path %></p>

<%= render 'searches/form' %>

<h4>新着投稿</h4>
<% @posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>
<%= link_to "全ての投稿を見る", posts_path %>

<h4>カテゴリ一覧</h4>

<% @categories.each do |category| %>
  <%= link_to category.name, category_search_path(category_id: category.id) %>
<% end %>