<h3>「AJIHEN」は主に調味料に関する情報共有のためのレビューサイトです</h3>
<p>詳しくは<%= link_to "こちら", about_path %></p>

<h4>新着投稿</h4>
<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do%>
    <%= attachment_image_tag post, :image, :fill,200,200 %>
    <%= post.item_name %>
  <% end %>

  <div>
    <div id="star-rate-<%= post.id %>"></div>
    <script>
      $('#star-rate-<%= post.id %>').empty();
      $('#star-rate-<%= post.id %>').raty({
        size: 36,
        starOff: '<%= asset_path('star-off.png') %>',
        starOn: '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        readOnly: true,
        half: true,
        score: <%= post.rate %>,
      });
    </script>
    <%= post.rate %>
  </div>

  <%= post.user.name %>
  <p>コメント数：<%= post.comments.count %></p>
  <p>いいね数：<%= post.favorites.count %></p>
<% end %>
<%= link_to "全ての投稿を見る", posts_path %>

<h4>カテゴリ一覧</h4>

<% @categories.each do |category| %>
  <%= link_to category.name, category_search_path(category_id: category.id) %>
<% end %>