<%= render 'searches/form' %>

<%= render "posts/new_link" %>

<div class="row">
  <div class="offset-lg-1 col-lg-7">
    <h3 class="text-center">"<%= @category.name %>"カテゴリのレビュー</h3>

    <div class="row" style="justify-content: center;" id="post-list">
      <% if @posts.empty? %>
        <p>該当するレビューがありません</p>
      <% else %>
        <%= render 'posts/post' %>
      <% end %>
    </div>
    <div class="row" style="justify-content: center;">
      <%= link_to_next_page @posts, "もっと見る", remote: true, id: "view_more", class: "more" %>
    </div>
  </div>

  <div class="col-lg-3">
    <%= render 'posts/rank', week_ranks: @week_ranks, month_ranks: @month_ranks %>
  </div>
</div>