<%= form_with model: post, local: true do |f| %>
  <div class="form-group">
    <%= f.label :image, "商品画像" %><br />
    <%= f.attachment_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :item_name, "商品名" %>
    <%= f.text_field :item_name, placeholder: "商品名を入力", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :review, "レビュー" %>
    <%= f.text_area :review, placeholder: "味や用途などを教えてください", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :country, "原産国" %>
    <%= f.text_field :country, placeholder: "不明の場合は「不明」と入力", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :place,"購入場所" %>
    <%= f.text_field :place, placeholder: "購入場所や入手方法など", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price, "購入時の値段" %>
    <%= f.text_field :price, placeholder: "◯◯円",class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category, "カテゴリ" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: "--選択してください--"}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label :tag, "タグ(1つ以上選択推奨)" %><br />
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>
  </div>

  <div class="form-group text-center" id="star">
    <%= f.label :rate, "総合評価：" %>
    <%= f.hidden_field :rate, id: :review_star %>
    <script>
      $('#star').raty({
        size: 36,
        starOff: '<%= asset_path('star-off.png') %>',
        starOn: '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'post[rate]',
        half: true,
      });
    </script>
  </div>

  <div class="form-group text-center">
    <%= f.submit button_text, class: "btn btn-success" %>
  </div>
<% end %>
