<div class="card m-2" style="width: 20rem;">
  <%= link_to post_path(post.id) do %>
    <%= attachment_image_tag post, :image, :fill,200,200, class: "card-img-top" %>
  <% end %>

  <div class="card-body">
    <%= link_to post_path(post.id) do%>
      <h4 clas="card-title"><%= post.item_name %></h4>
    <% end %>
    <div id="star-rate-<%= post.id %>"></div>
    <script>
      $('#star-rate-<%= post.id %>').empty();
      $('#star-rate-<%= post.id %>').raty({
        size: 36,
        starOff: '<%= asset_path('star-off.png') %>',
        starOn: '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        readOnly: true,
        half: true,
        score: <%= post.rate %>,
      });
    </script>

    <div class="row p-2">
      <div>
        <i class="fas fa-user"></i>
        <%= link_to user_path(post.user) do %>
          <%= post.user.name %>さん
        <% end %>
      </div>
      <div class="ml-auto">投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></div>
    </div>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item ml-auto">
      <i class="far fa-comment-alt"></i><%= post.comments.count %>コメント
      <i class="fas fa-star"></i><%= post.favorites.count %>気になる！
    </li>
  </ul>
</div>
