<h5>今日の気になる！ランキング</h5>
<% if today_ranks.empty? %>
  <p>まだ気になる！されたレビューはありません</p>
<% else %>
  <% today_ranks.each.with_index(1) do |post, i| %>
    <%= i %>位
    <%= link_to post_path(post.id) do%>
      <%= attachment_image_tag post, :image, :fill, 100, 100 %>
      <%= post.item_name %>
    <% end %>
    <%= post.favorites.count %>気になる！
  <% end %>
<% end %>

<h5>今週の気になる！ランキング</h5>
<% week_ranks.each.with_index(1) do |post, i| %>
  <%= i %>位
  <%= link_to post_path(post.id) do%>
    <%= attachment_image_tag post, :image, :fill, 100, 100 %>
    <%= post.item_name %>
  <% end %>
  <%= post.favorites.count %>気になる！
<% end %>

<h5>今月の気になる！ランキング</h5>
<% month_ranks.each.with_index(1) do |post, i| %>
  <%= i %>位
  <%= link_to post_path(post.id) do%>
    <%= attachment_image_tag post, :image, :fill, 100, 100 %>
    <%= post.item_name %>
  <% end %>
  <%= post.favorites.count %>気になる！
<% end %>