<div class="rank">
  <div class="rank-title"><i class="fas fa-crown"></i><strong>週間気になる！TOP3</strong><i class="fas fa-crown"></i></div>
  <div class="rank-item">
    <% week_ranks.each.with_index(1) do |post, i| %>
      <div class="rank-item-list">
        <span class="ranking"><strong><%= i %></strong>位</span><br />
        <%= link_to post_path(post.id), class: "link" do %>
          <%= attachment_image_tag post, :image, :fill, 100, 100 %><br />
          <strong><%= truncate(post.item_name, length: 11) %></strong><br />
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="rank-title mt-5"><i class="fas fa-crown"></i><strong>月間気になる！TOP3</strong><i class="fas fa-crown"></i></div>
  <div class="rank-item">
    <% month_ranks.each.with_index(1) do |post, i| %>
      <div class="rank-item-list">
        <span class="ranking"><strong><%= i %></strong>位</span><br />
        <%= link_to post_path(post.id), class: "link" do %>
          <%= attachment_image_tag post, :image, :fill, 100, 100 %><br />
          <strong><%= truncate(post.item_name, length: 11) %></strong><br />
        <% end %>
      </div>
    <% end %>
  </div>
</div>
