<div>
  <table class="table table-borderless rank-table">
    <thead>
      <tr align="center">
        <th><i class="fas fa-crown"></i>週間気になる！ランキング<i class="fas fa-crown"></i></th>
      </tr>
    </thead>
    <tbody>
      <% week_ranks.each.with_index(1) do |post, i| %>
        <tr>
          <td align="center">
            <%= i %>位<br />
            <%= link_to post_path(post.id), class: "link" do %>
              <%= attachment_image_tag post, :image, :fill, 100, 100 %><br />
              <strong><%= truncate(post.item_name, length: 11) %></strong><br />
            <% end %>
            <%= link_to user_path(post.user), class: "link" do %>
              <%= attachment_image_tag post.user, :profile_image, :fill,25,25, fallback: "icon_gray.png", size: "25x25", class: "rounded-circle" %>
              <%= post.user.name %>さん
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <thead>
      <tr align="center">
        <th><i class="fas fa-crown"></i>月間気になる！ランキング<i class="fas fa-crown"></i></th>
      </tr>
    </thead>
    <tbody>
      <% month_ranks.each.with_index(1) do |post, i| %>
        <tr>
          <td align="center">
            <%= i %>位<br />
            <%= link_to post_path(post.id), class: "link" do%>
              <%= attachment_image_tag post, :image, :fill, 100, 100 %><br />
              <strong><%= truncate(post.item_name, length: 11) %></strong><br />
            <% end %>
            <%= link_to user_path(post.user), class: "link" do %>
              <%= attachment_image_tag post.user, :profile_image, :fill,25,25, fallback: "icon_gray.png", size: "25x25", class: "rounded-circle" %>
              <%= post.user.name %>さん
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
