<div>
  <table class="table table-borderless rank-table">
    <thead>
      <tr align="center">
        <th><i class="fas fa-crown"></i>週間気になる！ランキング<i class="fas fa-crown"></i></th>
      </tr>
    </thead>
    <tbody>
      <% week_ranks.each.with_index(1) do |post, i| %>
        <tr>
          <td align="center">
            <%= i %>位<br />
            <%= link_to post_path(post.id), class: "link" do %>
              <%= attachment_image_tag post, :image, :fill, 100, 100 %><br />
              <%= post.item_name %><br />
            <% end %>
            <i class="fas fa-star"></i><%= post.favorites.count %>気になる！
          </td>
        </tr>
      <% end %>
    </tbody>

    <thead>
      <tr align="center">
        <th><i class="fas fa-crown"></i>月間気になる！ランキング<i class="fas fa-crown"></i></th>
      </tr>
    </thead>
    <tbody>
      <% month_ranks.each.with_index(1) do |post, i| %>
        <tr>
          <td align="center">
            <%= i %>位<br />
            <%= link_to post_path(post.id), class: "link" do%>
              <%= attachment_image_tag post, :image, :fill, 100, 100 %><br />
              <%= post.item_name %><br />
            <% end %>
            <i class="fas fa-star"></i><%= post.favorites.count %>気になる！
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
