<%= render 'searches/form' %>

<%= render "posts/new_link" %>

<div class="row">
  <div class="col-lg-9">

    <h2 class="text-center">みんなの投稿</h2>

    <div class="text-center">
      <%= link_to "新着順", posts_path(sort_create: "true"), class: "link", style: "text-decoration: underline;" %> |
      <%= link_to "オススメ度順", posts_path(sort_rate: "true"), class: "link", style: "text-decoration: underline;" %> |
      <%= link_to "コメント多い順", posts_path(sort_comment: "true"), class: "link", style: "text-decoration: underline;" %> |
      <%= link_to "気になる！順", posts_path(sort_favorite: "true"), class: "link", style: "text-decoration: underline;" %>
    </div>

    <div class="row" style="justify-content: center;" id="post-list">
      <%= render 'posts/post', posts: @posts %>
    </div>
    <div class="row mb-4" style="justify-content: center;">
      <%= link_to_next_page @posts, "もっと見る", remote: true, id: "view_more", class: "more" %>
    </div>
  </div>

  <div class="col-lg-3 mt-5">
    <%= render 'posts/rank', week_ranks: @week_ranks, month_ranks: @month_ranks %>
  </div>
</div>