<%= link_to "タグ一覧", tags_path %>
<%= link_to "カテゴリ一覧", categories_path %>

<h2>みんなのレビュー</h2>

<% if user_signed_in? %>
  <%= link_to '新規レビュー', new_post_path %>
<% else %>
  <%= link_to '新規レビュー', new_user_session_path %>
<% end %>

<%= link_to "新着順", posts_path(sort_create: "true") %> |
<%= link_to "評価順", posts_path(sort_rate: "true") %> |
<%= link_to "コメント多い順", posts_path(sort_comment: "true") %> |
<%= link_to "いいね多い順", posts_path(sort_favorite: "true") %>

<% @posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>

<%= paginate @posts %>


<%= render 'posts/rank', today_ranks: @today_ranks, week_ranks: @week_ranks, month_ranks: @month_ranks %>