<%= render 'searches/form' %>

<%= render "posts/new_link" %>

<div class="offset-lg-1 mb-3">
  <%= link_to user_path(@user), class: "link", style: "text-decoration: underline;" do %>
    <%= attachment_image_tag @user, :profile_image, :fill,50,50, fallback: "icon_gray.png", size: "50x50" %>
    <%= @post.user.name %>
  <% end %>
</div>

<div class="row">
  <div class="offset-lg-1 col-lg-3">
    <div><%= attachment_image_tag @post, :image, :fill,300,300 %></div>
    <!--気になるボタン-->
    <div class="my-2 ml-1" id="favorite_button_<%= @post.id %>">
      <%= render 'favorites/favorite', post: @post %>
    </div>
    <div>
      <% if (user_signed_in?) && (@post.user.id == current_user.id) %>
        <%= link_to "投稿を編集", edit_post_path(@post), class: "fas fa-edit btn btn-primary m-1" %>
        <!--削除確認bootstrapモーダル-->
        <button type="button" class="fas fa-trash-alt btn btn-danger m-1" data-toggle="modal" data-target="#exampleModal<%= @post.id %>">投稿を削除</button>
        <div class="modal fade" id="exampleModal<%= @post.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">投稿の削除</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">投稿を削除しますか？<br />コメントなども全て削除されます。</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">やめる</button>
                <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="offset-lg-1 col-lg-6">
    <table class="table table-borderless">
      <tr>
        <td><h3 style= "display: inline-block;"><strong><%= @post.item_name %></strong></h3></td>
      </tr>
      <tr>
        <td>
          <span id="star-rate-<%= @post.id %>"></span>
          <script>
            $('#star-rate-<%= @post.id %>').empty();
            $('#star-rate-<%= @post.id %>').raty({
              size: 36,
              starOff: '<%= asset_path('star-off.png') %>',
              starOn: '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              readOnly: true,
              half: true,
              score: <%= @post.rate %>,
            });
          </script>
          <span class="p-rate"><strong><%= @post.rate %></strong></span>
          <%= link_to "オススメ度の目安", about_path, class: "link ml-4", style: "text-decoration: underline;" %>
        </td>
      </tr>
      <tr>
        <td><%= simple_format(@post.review) %></td>
      </tr>
      <tr>
        <td align="right">
          <div>
            スコア：<%= @post.score %>
          </div>
          <details>
          　<summary class="score-title">スコアとは？</summary>
              <div class="score-text alert alert-success">
                スコアはレビュー内容を分析し良い印象の内容であるほど高いスコアを示します。0.1~1の間の場合表示され、それ以下のスコアは表示されません。
              </div>
          </details>
        </td>
      </tr>
    </table>

    <table class="table">
      <tr>
        <th>原産国</th>
        <td><%= @post.country %></td>
      </tr>
      <tr>
        <th>購入時の値段</th>
        <td><%= @post.price %></td>
      </tr>
      <tr>
        <th>購入場所</th>
        <td><%= @post.place %></td>
      </tr>
      <tr>
        <th></th>
        <td align="right">カテゴリ：<%= link_to @post.category.name, category_search_path(category_id: @category.id), class: "link", style: "text-decoration: underline;" %></td>
      </tr>
      <tr>
        <th></th>
        <td align="right">
          <% @post.tags.each do |tag| %>
            <span class="badge badge-pill badge-light">
              <i class="fas fa-tag"></i><%= link_to tag.name, tag_search_path(tag_id: tag.id), class: "link" %>
            </span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th></th>
        <td align="right">投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    </table>
  </div>
</div>

<!--コメント機能-->
<div class="offset-lg-1 col-lg-10">
  <%= render 'comments/comment', post: @post, comment: @comment, comments: @comments %>
</div>

