<header>
  <h3><%= link_to "AJIHEN", root_path %></h3>
  <% if user_signed_in? %>
    ようこそ<%= current_user.name %>さん
  <% end %>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "「AJIHEN」とは", about_path %></li>
      <li><%= link_to "みんなの投稿一覧", posts_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "マイページ", user_path(current_user) %></li>
      <li>
        <% if unchecked_notifications.any? %>
          <%= link_to "通知", notifications_path, style: "color: red" %>
        <% else %>
          <%= link_to "通知", notifications_path %>
        <% end %>
      </li>
    <% else %>
      <li><%= link_to "「AJIHEN」とは", about_path %></li>
      <li><%= link_to "みんなの投稿一覧", posts_path %></li>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
  </ul>
</header>