<header>
  <div class="container text-center">
    <%= link_to image_tag("logo.png", alt: "AJIHEN"), root_path %>
  </div>
</header>

<nav class="navbar navbar-expand-md sticky-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav mr-auto">
        <li><%= link_to "TOP　", root_path, class: "link" %></li>
        <li><%= link_to "「AJIHEN」とは　", about_path, class: "link" %></li>
        <li><%= link_to "みんなの投稿　", posts_path, class: "link" %></li>
        <li><%= link_to "カテゴリ一覧　", categories_path , class: "link"%></li>
        <li><%= link_to "タグ一覧", tags_path, class: "link" %></li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <div class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if unchecked_notifications.any? %>
                <%= current_user.name %><span><i class="fas fa-circle fa-xs"></i></span>さん
              <% else %>
                <%= current_user.name %>さん
              <% end %>
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="dropdown-item"><%= link_to "マイページ", user_path(current_user), class: "link" %></div>
              <div class="dropdown-item">
                <% if unchecked_notifications.any? %>
                  <div class="text-danger"><i class="far fa-bell"></i><%= link_to "通知あり", notifications_path, class: "link", style: "color: red;" %></div>
                <% else %>
                  <div><i class="far fa-bell"></i><%= link_to "通知", notifications_path, class: "link" %></div>
                <% end %>
              </div>
              <div class="dropdown-item"><%= link_to "登録情報編集", edit_user_registration_path(user), class: "link" %></div>
              <div class="dropdown-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link" %></div>
              <% unless current_user.admin? %>
                <div class="dropdown-item"><%= link_to "退会する", confirm_path, class: "link" %></div>
              <% end %>
            </div>
          </li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path, class: "link mr-3" %></li>
          <li><%= link_to "ログイン", new_user_session_path, class: "link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
