<header>
  <h3><%= link_to "AJIHEN", root_path %></h3>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "「AJIHEN」とは", about_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "マイページ", user_path(current_user) %></li>
    <% else %>
      <li><%= link_to "「AJIHEN」とは", about_path %></li>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
  </ul>
</header>