<!DOCTYPE html>
<html>
  <head>
    <title>AJIHEN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header', user: @user %>

    <main>
      <div class="container">
        <div class="offset-1"><p class="notice"><%= notice %></p></div>

        <%= yield %>
      </div>
      <!--TOPに戻るボタン-->
      <span id="back">
        <a href="">
          <%= image_tag asset_path('top_button.png'), data: {"turbolinks"=>false}, class: "t-btn" %>
        </a>
      </span>
    </main>

    <footer style="height: 100px;">
    </footer>
  </body>
</html>
